[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
bleach = "*"
boto = "*"
chardet = "*"
diff-match-patch = "*"
django-admin-sortable = "*"
django-ckeditor = "*"
django-countries = "*"
django-embed-video = "*"
django-environ = "*"
django-filter = "*"
django-import-export = "*"
django-modeltranslation = "*"
django-nested-admin = "*"
django-solo = "*"
django-storages = "*"
django-taggit = "*"
django-taggit-serializer = "*"
django-uuslug = "*"
djangorestframework = "*"
greenlet = "*"
gunicorn = "*"
"html5lib" = "*"
msgpack-python = "*"
neovim = "*"
olefile = "*"
pyparsing = "*"
python-dateutil = "*"
python-monkey-business = "*"
python-slugify = "*"
pytz = "*"
requests = "*"
six = "*"
tablib = "*"
webencodings = "*"
collectfast = "*"
pillow = "*"
unidecode = "*"
markdown = "*"
"psycopg2-binary" = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.7"
