 @font-face
    font-family Georgia
    font-style normal
    font-weight normal
    src url(../font/GeorgiaRegular.ttf)

 @font-face
    font-family Georgia
    font-style italic
    font-weight normal
    src url(../font/GeorgiaItalic.ttf)

 @font-face
    font-family Georgia
    font-style normal
    font-weight bold
    src url(../font/GeorgiaBold.ttf)

 @font-face
    font-family Georgia
    font-style italic
    font-weight bold
    src url(../font/GeorgiaItalicBold.ttf)

$font = 'Georgia', serif
$color1 = #000000
$color2 = #ffffff
$color3 = #17ce4b

$white = #ffffff
$gray1 = #f0f0f0
$gray2 = #e3e3e3
$gray3 = #999999
$gray4 = #666666
$gray5 = #333333
$gray6 = #0f0f0f
$black = #000000

$max-width-desktop = 1024px
$max-width-mobile  = 768px
$max-width-small   = 520px
