$font = 'GeorgiaProW02-Regular'
$color1 = #000000
$color2 = #ffffff
$color3 = #17ce4b

$white = #ffffff
$gray1 = #f0f0f0
$gray2 = #e3e3e3
$gray3 = #999999
$gray4 = #666666
$gray5 = #333333
$gray6 = #0f0f0f
$black = #000000

$max-width-desktop = 1024px
$max-width-mobile  = 768px
