.catalog
    width 100%
    li
        display block
        float left
        width 20%
        margin 0 2.5% 0 2.5%
        text-align center
        @media screen and (max-width: $max-width-mobile)
            width 45%
        img
            display block
            width 100%
            height auto
            margin auto
        a
            color $color1
            text-decoration none
            transition color 0.5s ease
            &:hover
                color $color3
.main-image
    width 100%
    img
        max-width 100%
        display block
        margin auto
.item-info
    border 1px solid $black
    border-right none
    border-left none
    box-sizing border-box
    padding 10px 0 10px 0
    display flex
    @media screen and (max-width: $max-width-mobile)
        display block
    h2
    p
        width 50%
        margin 0
        display flex
        justify-content center
        flex-direction column
        @media screen and (max-width: $max-width-mobile)
            width 100%
            margin 20px auto 20px auto
