.colabs
    margin 0 0 0 0
    div
        width 100%
        text-align center
    article
        width 100%
        height 100vh
        background-attachment fixed
        background-size cover
        background-repeat no-repeat
        color $white
        img
            display inline-block
            max-width 100%
        h2
            display inline-block
            margin 0
        a
            color $white
            transition color 0.3s ease
            width 100%
            display block
            &:hover
                color $color3
            span
                margin 0 2% 0 2%
                font-size 2.0em
