article
    margin auto
h2
    margin 0 auto 20px auto
    font-size 2.0em
p
    margin 20px auto 20px auto
    font-weight 100
    font-size 0.9em
    letter-spacing 0.1em
    line-height 1.2em
    hyphens auto
a
    color $color1
    text-decoration none
strong
    font-weight bold
em
    font-style italic
.wrapper
    width 90%
    max-width $max-width-desktop
    margin auto
.center-both-parent
    display block
    position relative
    margin auto
.center-both-child
    display block
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
main
    overflow hidden
    margin 30px auto auto auto
    &.wrapper
        margin 30px auto auto auto
