.press
.press-single
    width 100%
    margin 0 auto 100px auto
    li
        display flex
        width 100%
        border-bottom 1px solid $black
        padding 20px 0 20px 0
        @media screen and (max-width: $max-width-mobile)
            display block
            width 100%
        &:firs-child
            padding 0 0 20px 0
        &:last-child
            border none
        h3
            color $color3
        a
            color $black
            transition color 0.5s ease
            &:hover
                color $color3
        section
            margin 0
            display flex
            justify-content center
            flex-direction column
            text-align left
            &:first-child
                width 30%
                @media screen and (max-width: $max-width-mobile)
                    width 100%
            &:last-child
                width 70%
                @media screen and (max-width: $max-width-mobile)
                    width 100%
            @media screen and (max-width: $max-width-mobile)
                display block
            p
                display block
                margin 10px auto 10px
                width 100%
.press-single
    header
        border none
    .videos
        margin 50px auto 0 auto
        iframe
            width 100%
            margin 50px auto 0 auto
    .gallery
        margin 50px auto 0 auto
        img
            margin 25px auto 0 auto
            display block
            width 100%
            height auto
