{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<main class="wrapper">
    <ul class="catalog">
        {% for item in p_list %}
        <li>
            <a href="{% url 'products' item.sku %}">
                <div
                    style="background-image: url('{{item.image.url}}')"
                    ></div>
                <!-- <img src="{{item.image.url}}" alt="{{item.name}}" /> -->
                <p>{{item.name}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
