{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
{% load solo_tags %}
{% get_solo 'store.Store' as contact %}
<main class="wrapper">
    <section class="contact">
        <div>
            <h2>Contacto & Pedidos</h2>
        </div>
        <div>
            <p>e. <a href="mailto:{{contact.mail}}">{{contact.mail}}</a></p>
            <p>t. <a href="tel:{{contact.phone}}">{{contact.phone}}</a></p>
            <p>instagram: <a href="https://www.instagram.com/{{contact.instagram}}">@{{contact.instagram}}</a></p>
        </div>
    </section>
    <section class="stores">
        <div>
            <h2>Tiendas</h2>
        </div>
        <div>
            {% for item in p_list%}
                <article>
                    <h3>{{item.name}}</h3>
                    <p>{{item.adress}}</p>
                    <p>{{item.mail}}</p>
                    <p>{{item.phone}}</p>
                    <p>{{item.notes}}</p>
                </article>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
{% block footer %}{% endblock %}
