{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<main class="wrapper">
    <section class="contact">
        <div>
            <h2>Contacto & Pedidos</h2>
        </div>
        <div>
            <p>e. hola@vvvvovvvv.com</p>
            <p>t. +52 1 (55)5 407 2866</p>
            <p>instagram: @vovleathergoods</p>
        </div>
    </section>
    <section class="stores">
        <div>
            <h2>Tiendas</h2>
        </div>
        <div>
            <article>
                <h3>We Are Soiux</h3>
                <p>Colima 180, Colonia Roma, México D.F</p>
                <p>siouxboutique@gmail.com</p>
                <p>+52.5531.67.2041 </p>
                <p>Notas</p>
            </article>
            <article>
                <h3>We Are Soiux</h3>
                <p>Colima 180, Colonia Roma, México D.F</p>
                <p>siouxboutique@gmail.com</p>
                <p>+52.5531.67.2041 </p>
                <p>Notas</p>
            </article>
            <article>
                <h3>We Are Soiux</h3>
                <p>Colima 180, Colonia Roma, México D.F</p>
                <p>siouxboutique@gmail.com</p>
                <p>+52.5531.67.2041 </p>
                <p>Notas</p>
            </article>
            <article>
                <h3>We Are Soiux</h3>
                <p>Colima 180, Colonia Roma, México D.F</p>
                <p>siouxboutique@gmail.com</p>
                <p>+52.5531.67.2041 </p>
                <p>Notas</p>
            </article>
            <article>
                <h3>We Are Soiux</h3>
                <p>Colima 180, Colonia Roma, México D.F</p>
                <p>siouxboutique@gmail.com</p>
                <p>+52.5531.67.2041 </p>
                <p>Notas</p>
            </article>
            <article>
                <h3>We Are Soiux</h3>
                <p>Colima 180, Colonia Roma, México D.F</p>
                <p>siouxboutique@gmail.com</p>
                <p>+52.5531.67.2041 </p>
                <p>Notas</p>
            </article>
            <article>
                <h3>We Are Soiux</h3>
                <p>Colima 180, Colonia Roma, México D.F</p>
                <p>siouxboutique@gmail.com</p>
                <p>+52.5531.67.2041 </p>
                <p>Notas</p>
            </article>
            <article>
                <h3>We Are Soiux</h3>
                <p>Colima 180, Colonia Roma, México D.F</p>
                <p>siouxboutique@gmail.com</p>
                <p>+52.5531.67.2041 </p>
                <p>Notas</p>
            </article>
        </div>
    </section>

</main>
{% endblock %}
