{% load static from staticfiles %}
<header>
    <div class="wrapper">
        <a href="{% url 'home' %}">
            <img src="{% static "img/logo-header.svg" %}" alt="logo" class="logo">
        </a>
        <nav>
            <ul>
                {% for page in menu %}
                <li class="
                    {% if page.active %} active{% endif %}
                ">
                    <a href="{{page.url}}" title="{{page.name}}">{{page.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
