{% extends 'base.html' %}
{% load static from staticfiles %}
{% block header %}{% endblock %}
{% block content %}
<main class="home">
    <article class="">
        <a href="{% url 'categories' %}">
            <img class="logo" src="{% static "img/logo.svg"%}" alt="logo">
        </a>
        <nav class="navigation">
            <ul>
                {% for page in menu %}
                <li class="nav-item{% if page.active %} active{% endif %}{% if forloop.counter0 == 0 %} first-item{% endif %}">
                    <a href="{{page.url}}" title="{{page.name}}">{{page.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </article>
</main>
{% endblock %}
{% block footer %}{% endblock %}
