{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="container apush">
    <div class="grid_1">
        <p class="article-title">Casa Bosques x vvvvovvvv</p>
        <time pubdate datetime="18/06/2014">18/06/2014</time>
    </div>
    <div class="grid_2">
        <iframe src="//player.vimeo.com/video/55124671" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen" frameborder="0" height="422" width="750"></iframe>
        <p><a href="http://vimeo.com/55124671">PORTAPASAPORTE + CHOCOLATE EDICIÓN ESPECIAL. CHILE PASILLA</a> from <a href="http://vimeo.com/casabosques">Casa Bosques</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    <div class="grid_2 push_1">
    </div>
    <p class="clearfix"> 
        <span class="left"><a href="/blogs/prensa/14527801-hecho-en-mexico-hola" title="">&larr; Next Post</a></span>
        <span class="right"><a href="/blogs/prensa/14527801-hecho-en-mexico-hola" title="">Previous Post &rarr;</a></span>
    </p>
</div>
{% endblock %}
