{% extends 'base.html' %}
{% load static from staticfiles %}
{% load embed_video_tags %}
{% block references %}
    <link href="{% static "lib/css/lightbox.css" %}" rel="stylesheet" type="text/css"  media="all"  />
{% endblock %}
{% block content %}
<main class="wrapper">
    <section class="item-info">
        <h2 class="flex">{{ single.name }}</h2>
        <section class="flex">
            {{ single.description | safe}}
        </section>
        <div class="flex price">
            <p>${{ single.price }}</p>
        </div>
    </section>
    {% if v_list %}
    <section class="videos">
        {% for item in v_list %}
            {% video item.video %}
        {% endfor %}
    </section>
    {% endif %}
    {% for item in p_list %}
    <section class="main-image">
            <img src="{{ item.image.url }}" alt="{{ item.name }}"/>
    </section>
    {% endfor %}
</main>
{% endblock %}
{% block FooterReferences %}
<script src="{% static "lib/js/jquery.js"%}"></script>
<script src="{% static "lib/js/lightbox.js"%}"></script>
{% endblock %}
{% block footer %}{% endblock %}
