{% extends 'base.html' %}
{% load static from staticfiles %}
{% block references %}
    <link href="{% static "lib/css/lightbox.css" %}" rel="stylesheet" type="text/css"  media="all"  />
{% endblock %}
{% block content %}
<main class="wrapper">
    <section class="item-info">
        <h2>{{ single.name }}</h2>
        <p>
            {{ single.description }}
        </p>
        <div class="price">
            <p>${{ single.price }}</p>
        </div>
    </section>
    {% for item in p_list %}
    <section class="main-image">
            <img src="{{ item.image.url }}" alt="{{ item.name }}"/>
    </section>
    {% endfor %}
</main>
{% endblock %}
{% block FooterReferences %}
<script src="{% static "lib/js/jquery.js"%}"></script>
<script src="{% static "lib/js/lightbox.js"%}"></script>
{% endblock %}
{% block footer %}{% endblock %}
