{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
{% load solo_tags %}
{% get_solo 'store.Store' as about %}
<main class="wrapper">
    <div class="blueberry">
        <ul class="slides">
            {% for item in p_list %}
            <li><img src="{{item.image.url}}" /></li>
            {% endfor %}
        </ul>
    </div>
    <section class="info">
        {{about.big_description | safe}}
    </section>
</main>
{% endblock %}
{% block footer %}
<section class="center-both-parent parallax" style="background-image: url('{{footer}}')">
        <img class="logo center-both-child" src="{% static "img/logo.svg"%}" alt="logo">
</section>
{% endblock %}
{% block FooterReferences %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "js/jquery.blueberry.js"%}"></script>
    <script type="text/javascript">
        $(window).load(function() {
            $(".Historial").addClass("hidden");   
            $(".Colaboraciones").addClass("hidden");
            $('.blueberry').blueberry();
        });
    </script>
{% endblock %}
