{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<main class="wrapper">
    <section class="contact">
        <div>
            <h2>Contacto & Pedidos</h2>
        </div>
        <div>
            <p>e. hola@vvvvovvvv.com</p>
            <p>t. +52 1 (55)5 407 2866</p>
            <p>instagram: @vovleathergoods</p>
        </div>
    </section>
    <section class="stores">
        <div>
            <h2>Tiendas</h2>
        </div>
        <div>
            {% for item in p_list%}
                <article>
                    <h3>{{item.name}}</h3>
                    <p>{{item.adress}}</p>
                    <p>{{item.mail}}</p>
                    <p>{{item.phone}}</p>
                    <p>{{item.notes}}</p>
                </article>
            {% endfor %}
        </div>
    </section>

</main>
{% endblock %}
