{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="container apush">
    <div class="grid_1">
        <h1>Contacto & Pedidos</h1>
    </div>
    <div class="grid_1">
        <em>e.</em> <a target="_blank" href="mailto:hola@vvvvovvvv.com"><em>hola@vvvvovvvv.com</em></a><br /><em>t. +52 1 (55)5 407 2866</em><br /><br /><em>instagram: <a target="_blank" href="http://instagram.com/vovleathergoods">@vovleathergoods</a></em>
    </div>
    <div class="clear"></div>
    <div class="divider"></div>
    <div class="grid_1">
        <h1>Tiendas</h1>
    </div>
    <div class="grid_2 columns">
        <p><em></em><em><b><a href="http://www.siouxboutique.com/" target="_blank">We Are Soiux</a></b><br /> Havre. Col Juárez / solo por cita: siouxboutique@gmail.com<br />+52.5562.72.2250 <br />+52.5531.67.2041 <br /> solo por cita: siouxboutique@gmail.com <br /> <br /> <a href="http://www.facebook.com/pages/180%C2%BA-SHOP/124925247605118" target="_blank"><b>180 grados</b></a><br /> Colima 180, Colonia Roma, México D.F<br /> <br /> <b><a href="http://mob.com.mx/" target="_blank">Mob</a></b><br /> Baja California 360 Colonia Condesa, Delegación Cuauhtémoc.<br /> CP 06140 México D.F<br /> <b><br /> <a href="http://museotamayo.org/SS1/tienda/" target="_blank">Museo Rufino Tamayo</a></b><br /> Paseo de la Reforma No. 51, Col. Bosque de Chapultepec, Del. Miguel Hidalgo,<br />C.P. 11580. <br />T. (5255) 5286 6519</em></p>
        <p><em><br /> <br /> <a href="http://www.unamaeschicago.com/" target="_blank"><b>Una Maes</b></a><br /> 1528 N. Milwaukee Ave Chicago, Illinois, USA.<br /> <br /> <b><a href="http://www.facebook.com/pages/Mercado-San-Cosme/262081020581144" target="_blank">Mercado San Cosme</a></b><br /> Torstr. 116, Mitte, Berlín, Alemania.</em></p>
        <p><em><em><b><a href="http://www.facebook.com/pages/Mercado-San-Cosme/262081020581144" target="_blank"><br /></a></b><strong><a target="_blank" href="http://www.cinetonala.co/">Cine Tonalá Bogotá</a></strong><br /> Carrera 6 # 35 - 37 (Barrio La Merced), Bogotá, Colombia.</em></em></p>
    </div>
</div>
{% endblock %}
