{% extends 'base.html' %}
{% load static from staticfiles %}
{% block bodyAttr %}class="home"{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="logo">
    <a href="http://vvvovvv-2.myshopify.com/collections">
        <img src="//cdn.shopify.com/s/files/1/0288/1370/t/2/assets/logo2.png?10140961103910628670" class="logo"/>
    </a>
    <ul class="home">
        {% for page in menu %}
        <li class="nav-item{% if page.active %} active{% endif %}{% if forloop.counter0 == 0 %} first-item{% endif %}">
            <a href="{{page.url}}" title="{{page.name}}">{{page.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
