{% extends 'base.html' %}
{% load static from staticfiles %}
{% load embed_video_tags %}
{% block content %}
<main class="wrapper">
    <div class="press-single">
        <header>
            <h2 class="article-title">{{single.title}}</h2>
            <span>{{single.date_article|date:"d-m-y"}}</span>
        </header>
        <section>
            {{single.text}}
        </section>
        <section class="gallery">
            {% for item in p_list %}
            <img src="{{item.image.url}}"/>
            {% endfor %}
        </video>
        <section class="videos">
            {% for item in videos %}
                {% video item.video %}
            {% endfor %}
        </video>
    </div>
</main>
{% endblock %}
{% block footer %}{% endblock %}
