{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="container apush">
    <div class="grid_3">
        <div class="grid_1 alpha omega">
            <p class="article-title">
                <a href="/blogs/prensa/14527825-casa-bosques-x-vvvvovvvv">Casa Bosques x vvvvovvvv</a>
            </p>
            <time pubdate datetime="18/06/2014">18/06/2014</time>
            <a class="more" href="/blogs/prensa/14527825-casa-bosques-x-vvvvovvvv">(Ver Artículo Completo)</a>
        </div>
        <div class="grid_2 alpha omega">
            <p>
                PORTAPASAPORTE + CHOCOLATE EDICIÓN ESPECIAL. CHILE PASILLA from Casa Bosques on Vimeo.</p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="divider"></div>
    <div class="grid_3">
        <div class="grid_1 alpha omega">
            <p class="article-title">
                <a href="/blogs/prensa/14527801-hecho-en-mexico-hola">Hecho en México / Hola</a>
            </p>
            <time pubdate datetime="18/06/2014">18/06/2014</time>
            <a class="more" href="/blogs/prensa/14527801-hecho-en-mexico-hola">(Ver Artículo Completo)</a>
        </div>
        <div class="grid_2 alpha omega">
            <p>
                "...diseños que rescatan la ‘sencillez y sensibilidad del estilo urbano’ Daniela apuesta por el ‘back to basics’ para un estilo casual y atemporal."X</p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="divider"></div>
    <div class="grid_3">
        <div class="grid_1 alpha omega">
            <p class="article-title">
                <a href="/blogs/prensa/14527781-chulavista-arthouse-a-c-la-revista">Chulavista Arthouse A.C La Revista</a>
            </p>
            <time pubdate datetime="18/06/2014">18/06/2014</time>
            <a class="more" href="/blogs/prensa/14527781-chulavista-arthouse-a-c-la-revista">(Ver Artículo Completo)</a>
        </div>
        <div class="grid_2 alpha omega">
            <p>
                "los backpacks y bolsos se han llevado a otro nivel completamente funcional; con el plus de que son sustentables y tienen un diseño increíble. Realizados con piel reciclada, estos bolsos se adaptan a todo: son transformables a tres tamaños distintos..."  Aquí puedes ver el artículo completo.X</p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="divider"></div>
    <div class="grid_3">
        <div class="grid_1 alpha omega">
            <p class="article-title">
                <a href="/blogs/prensa/14527777-bag-blog">Bag Blog</a>
            </p>
            <time pubdate datetime="18/06/2014">18/06/2014</time>
            <a class="more" href="/blogs/prensa/14527777-bag-blog">(Ver Artículo Completo)</a>
        </div>
        <div class="grid_2 alpha omega">
            <p></p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="divider"></div>
    <div class="grid_3">
        <div class="grid_1 alpha omega">
            <p class="article-title">
                <a href="/blogs/prensa/14527765-societe-perrier">Societé Perrier</a>
            </p>
            <time pubdate datetime="18/06/2014">18/06/2014</time>
            <a class="more" href="/blogs/prensa/14527765-societe-perrier">(Ver Artículo Completo)</a>
        </div>
        <div class="grid_2 alpha omega">
            <p>
                Société Perrier "Sin duda alguna, esta marca tendrá un gran futuro, ya que pronto lanzarán el estuche para Ipad, una bolsa tipo monedero y una mini backpack, por lo que nadie olvidará que en el nombre hay 4 v's al principio y 4 al final: Vvvvovvvv."  Aquí puedes checar el artículo completo.X</p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="divider"></div>
    <div id="pagination">
        <span class="page current">1</span> <span class="page"><a href="/blogs/prensa?page=2" title="">2</a></span> <span class="next"><a href="/blogs/prensa?page=2" title="">Older articles &raquo;</a></span>
    </div>
</div>
{% endblock %}
