{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<main class="wrapper">
    <ul class="press">
        {% for item in p_list %}
        <li>
            <section class="press-info">
                <h3>{{item.title}}</h3>
                <p>{{item.date}}</p>
                <a href="singlePress.html">(Ver artículo completo)</a>
            </section>
            <section class="press-content">
                {{item.text}}
            </section>
        </li>
        {% endfor %}  
    </ul>
</main>
{% endblock %}
{% block footer %}
<section class="center-both-parent parallax" style="background-image: url('{{footer}}')">
        <img class="logo center-both-child" src="{% static "img/logo.svg"%}" alt="logo">
</section>
{% endblock %}
