{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="container apush">
    <div itemscope itemtype="http://schema.org/Product">
        <meta itemprop="url" content="http://vvvovvv-2.myshopify.com" />
        <meta itemprop="image" content="//cdn.shopify.com/s/assets/admin/no-image.gif" />
        <div class="grid_1 push_1">
            <img src="{{ single.image.url }}" class="test"/>
        </div>
        <div class="grid_3 fixie alpha">	
            <div class="divider"></div>
            <h1 class="grid_1">{{ single.name }}</h1>
            <p class="columns">{{ single.description }}</p>
            <div class="divider"></div>	
        </div>
        <div class="grid_3 alpha">
            {% for item in p_list %}
            <div class="grid_items">
                <a href="{% url 'product' single.sku item.product.sku item.sku%}">
                    <img src="{{ item.image.url }}" alt="Backpack" />
                    <p class="info">{{ item.product.description }}</p>
                </a>
            </div>
            {% endfor %} 
        </div>
    </div>
</div>
{% endblock %}
