{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<main class="wrapper">
    <section class="main-image">
        {% if single.image %}
            <img class="category" src="{{ single.image.url }}" alt="{{ single.name }}"/>
        {% endif %}
    </section>
    <section class="item-info">
        <h2>{{ single.name }}</h2>
        <p>
            {{ single.description }}
        </p>
    </section>
    <ul class="catalog">
        {% for item in p_list %}
        <li>
            <a href="{% url 'product' single.sku item.product.sku item.sku%}">
                <div
                    style="background-image: url('{{item.image}}')"
                    ></div>
                <p>{{item.name}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
